<div class="row">

<div class="col-md-4">

<%= image_tag @cat.cat_img.url(:cat_show), class: "cat-show" %>

</div>

<div class="col-md-8">
<h2><%= @cat.name %></h2>
<!-- <h4><%= @cat.category.name if @cat.category %></h4> -->
<p><%= @cat.color %></p>
<p> Race: <%= @cat.race %></p>
<p><%= @cat.gender %></p>
<p><%= @cat.description %></p> 
</div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

<% if @cat.user_id == current_user.id %>

<%= link_to "Edit", edit_cat_path(@cat) %>
<%= link_to "Delete", cat_path(@cat), method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
  
  <% end %>
<% end %>


<!-- <h4>Race: <%= @cat.category %></h4> -->